<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <title>claimore | Automated Claim Processing</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/uikit.min.css" />

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>
    </head>
    <style>
        html {
            background-color: whitesmoke;
        }
        body {
            min-height: 100%;
            background-color: whitesmoke;
        }
        .uk-button-primary:focus, .uk-button-primary:hover {
            background: rgba(133, 15, 230, 1)
        }
        .uk-logo, .uk-logo:focus, .uk-logo:hover {
            color: rgba(153, 0, 0, 1)
        }
        .uk-accordion-title {
            font-size: 12pt;
        }
        .uk-accordion-content {
            margin-top: 0px;
            padding-left: 10px;
            font-size: 10pt;
            background-color: whitesmoke;
        }
        .uk-accordion > :nth-child(n+2) {
            margin-top: 5px;
        }
        .uk-accordion > li {
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: rgb(207, 202, 202);
            padding-bottom: 3px;
        }
        #main-card {
            margin-top: 15px;
        }
        .uk-navbar.uk-navbar-container {
            background: rgba(255, 146, 91, 1);
        }
        .uk-card-secondary {
            background: rgba(255, 146, 91, 1);
        }
        .uk-description-list > dt:nth-child(n+2) {
            margin-top: 5px;
        }
        .uk-text-bold {
            margin-left: 20px;
        }
        .uk-tab > .uk-active > a {
            border-color: rgba(255, 146, 91, 1);
        }
    </style>
    <body>
        <nav class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-left">
                <a href="" class="uk-navbar-item uk-logo">claimore</a>
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="#">Home</a></li>
                </ul>
            </div>
        </nav>

        <div class="uk-grid-small" uk-grid>
            <div class="uk-width-1-6">
                <div class="uk-card uk-card-secondary uk-card-body">
                    <ul class="uk-nav uk-nav-default">
                        <li class="uk-active"><a href="#">Claims</a></li>
                        <li class="uk-nav-divider"></li>
                    </ul>
                </div>
            </div>
            <div id="main-card" class="uk-width-5-6">
                <div class="uk-card uk-card-default uk-card-body">
                    <h3 class="uk-card-title">Claims</h3>
                    <ul uk-tab>
                        <li class="uk-active"><a href="">All</a></li>
                        <li><a href="">Verified</a></li>
                        <li><a href="">Unverified</a></li>
                    </ul>
                    <div class="uk-switcher">
                        <div>
                            <ul uk-accordion>
                                <li>
                                    <a class="uk-accordion-title" href="#">Jan 23 <span class="uk-text-bold">Claim 1</span> <span class="uk-text-muted uk-text-small">M Farhan</span></a>
                                    <div class="uk-accordion-content">
                                        <dl class="uk-description-list">
                                            <dt>Nama</dt>
                                            <dd>M. Farhan</dd>
                                            <dt>No. Polis</dt>
                                            <dd>12345</dd>
                                            <dt>Status</dt>
                                            <dd>Verified</dd>
                                        </dl>
                                    </div>
                                </li>
                                <li>
                                    <a class="uk-accordion-title" href="#">Jan 23 <span class="uk-text-bold">Claim 1</span> <span class="uk-text-muted uk-text-small">M Farhan</span></a>
                                    <div class="uk-accordion-content">
                                        <dl class="uk-description-list">
                                            <dt>Nama</dt>
                                            <dd>M. Farhan</dd>
                                            <dt>No. Polis</dt>
                                            <dd>12345</dd>
                                            <dt>Status</dt>
                                            <dd>Verified</dd>
                                        </dl>
                                    </div>
                                </li>
                                <li>
                                    <a class="uk-accordion-title" href="#">Jan 23 <span class="uk-text-bold">Claim 1</span> <span class="uk-text-muted uk-text-small">M Farhan</span></a>
                                    <div class="uk-accordion-content">
                                        <dl class="uk-description-list">
                                            <dt>Nama</dt>
                                            <dd>M. Farhan</dd>
                                            <dt>No. Polis</dt>
                                            <dd>12345</dd>
                                            <dt>Status</dt>
                                            <dd>Verified</dd>
                                        </dl>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <ul uk-accordion>
                                <li>
                                    <a class="uk-accordion-title" href="#">Jan 23 <span class="uk-text-bold">Claim 1</span> <span class="uk-text-muted uk-text-small">M Farhan</span></a>
                                    <div class="uk-accordion-content">
                                        <dl class="uk-description-list">
                                            <dt>Nama</dt>
                                            <dd>M. Farhan</dd>
                                            <dt>No. Polis</dt>
                                            <dd>12345</dd>
                                            <dt>Status</dt>
                                            <dd>Verified</dd>
                                        </dl>
                                    </div>
                                </li>
                                <li>
                                    <a class="uk-accordion-title" href="#">Jan 23 <span class="uk-text-bold">Claim 1</span> <span class="uk-text-muted uk-text-small">M Farhan</span></a>
                                    <div class="uk-accordion-content">
                                        <dl class="uk-description-list">
                                            <dt>Nama</dt>
                                            <dd>M. Farhan</dd>
                                            <dt>No. Polis</dt>
                                            <dd>12345</dd>
                                            <dt>Status</dt>
                                            <dd>Verified</dd>
                                        </dl>
                                    </div>
                                </li>
                                <li>
                                    <a class="uk-accordion-title" href="#">Jan 23 <span class="uk-text-bold">Claim 1</span> <span class="uk-text-muted uk-text-small">M Farhan</span></a>
                                    <div class="uk-accordion-content">
                                        <dl class="uk-description-list">
                                            <dt>Nama</dt>
                                            <dd>M. Farhan</dd>
                                            <dt>No. Polis</dt>
                                            <dd>12345</dd>
                                            <dt>Status</dt>
                                            <dd>Verified</dd>
                                        </dl>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <ul uk-accordion>
                                <li>
                                    <a class="uk-accordion-title" href="#">Jan 23 <span class="uk-text-bold">Claim 1</span> <span class="uk-text-muted uk-text-small">M Farhan</span></a>
                                    <div class="uk-accordion-content">
                                        <dl class="uk-description-list">
                                            <dt>Nama</dt>
                                            <dd>M. Farhan</dd>
                                            <dt>No. Polis</dt>
                                            <dd>12345</dd>
                                            <dt>Status</dt>
                                            <dd>Verified</dd>
                                        </dl>
                                    </div>
                                </li>
                                <li>
                                    <a class="uk-accordion-title" href="#">Jan 23 <span class="uk-text-bold">Claim 1</span> <span class="uk-text-muted uk-text-small">M Farhan</span></a>
                                    <div class="uk-accordion-content">
                                        <dl class="uk-description-list">
                                            <dt>Nama</dt>
                                            <dd>M. Farhan</dd>
                                            <dt>No. Polis</dt>
                                            <dd>12345</dd>
                                            <dt>Status</dt>
                                            <dd>Verified</dd>
                                        </dl>
                                    </div>
                                </li>
                                <li>
                                    <a class="uk-accordion-title" href="#">Jan 23 <span class="uk-text-bold">Claim 1</span> <span class="uk-text-muted uk-text-small">M Farhan</span></a>
                                    <div class="uk-accordion-content">
                                        <dl class="uk-description-list">
                                            <dt>Nama</dt>
                                            <dd>M. Farhan</dd>
                                            <dt>No. Polis</dt>
                                            <dd>12345</dd>
                                            <dt>Status</dt>
                                            <dd>Verified</dd>
                                        </dl>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       

        <script>
            $(document).ready(function() {
                
            }) 
        </script>
    </body>
</html>